.chatList{
    padding: 20px 0;
    
    .search{
        padding-right: 20px;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        .searchBar{
           display: flex;
           background-color: rgba(20, 20, 22, 0.719);
           padding: 10px;
           border-radius: 5px;
 
            img{
                width: 20px;
                height: 20px;
            }
            input{
                background-color: transparent;
                border: none;
             &:focus{
                outline: none;

             }   
            }
            
        }

        img{
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    }
    .chatListContainer{
        margin-top: 20px;
        flex: 1;
        display: flex;
        gap: 10px;
        flex-direction: column;
        overflow-y : scroll;
        height: calc(100vh - 26vh);
    .item{
        display: flex;
        gap:10px;
        padding: 5px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.645);
        .avatar{
            width: 50px;
            height: 50px;
            overflow: hidden;
            border-radius: 50%;
            img{
                cursor: pointer;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .userData{
            h2{
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;  
                overflow: hidden;
                font-size: 1rem;
            }
            p{
                margin-top: 10px;
                font-size: .9rem;
                color: rgba(249, 249, 249, 0.829);
            }

        }
        .timeAgo{
            font-size: .8rem;
            min-width: fit-content;
            flex: 1;
            text-align: right;
            
        }
    }
    }
}
.chatListContainer::-webkit-scrollbar{
    width: 5px;
}
.chatListContainer::-webkit-scrollbar-track{
    box-shadow: 0 8px 32px 0 rgba(24, 31, 128, 0.37);
   }
.chatListContainer::-webkit-scrollbar-thumb{
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-color: rgba(214, 216, 225, 0.373);

}